@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@300&family=Rethink+Sans&display=swap');

        * {
            font-family: rethink sans;
        }

        body {
            /* background-color: rgb(252, 220, 252); */
            background-color: black;
            color: white;
            margin: 0px;
        }

        div.heading {
            padding: 20px;
            background-color: rgb(25, 25, 112);
            color: yellow;
        }

        a {
            text-decoration: none;
        }


        #wm {
            font-family: rethink sans;
            font-size: 20px;
            font-weight: 900;
        }

        #title {
            font-family: rethink sans;
            font-size: 32px;
            font-weight: 900;
            margin: 20vw;
            color: yellow;
        }

        h2 {
            color: yellow;
            text-align: center;
        }


        div.table{
            margin: auto;
            margin-top: 40px; 
            width: 85%;
            border-radius: 10px;
            text-align: center;
        }
        th{
            color: yellow;
            font-size: 22px;
            font-weight: bold;
            background-color: rgb(25, 25, 112);
        }